# System files
.DS_Store

# Node modules
node_modules/

# But don't ignore any .md files in /docs/
!docs/**/*.md
!docs/*.md

# Map files
**/*.map

# Docs build artifacts
packages/yakkl-wallet/docs/build/

# Also keep any README.md anywhere
!README.md
!**/README.md

# Map files
**/*.map

# Docs build artifacts
packages/yakkl-wallet/docs/build/

# Closed-source packages (completely ignored)
packages/yakkl-ai-ts/
packages/yakkl-ai-python/
packages/yakkl-ai-private/
packages/yakkl-staging/
packages/yakkl-security/
packages/yakkl-security-ui/
packages/yakkl-auth/
packages/yakkl-identity/
packages/yakkl-sdk-pro/
packages/yakkl-analytics/
packages/yakkl-backend/
packages/yakkl-wallet-private/
packages/yakkl-wallet-pro/
packages/yakkl-blockchain-private/
packages/yakkl-routing/
packages/yakkl-swaps/
# packages/yakkl-sdk/

# Ignore all v1 files
packages/yakkl-wallet/**/*v1*
packages/yakkl-wallet/**/v1*
packages/yakkl-wallet/**/*v1

# Ignore all pro/ and private/ folders recursively, but keep the folders themselves tracked
**/pro/*
!**/pro/.gitkeep

**/private/*
!**/private/.gitkeep

# Wallet build artifacts
packages/yakkl-wallet/.svelte-kit/
packages/yakkl-wallet/build/
packages/yakkl-wallet/node_modules/

# This is temporary
packages/yakkl-contracts/ 

# Contracts build artifacts
packages/yakkl-contracts/lib/
packages/yakkl-contracts/out/
packages/yakkl-contracts/cache/
packages/yakkl-contracts/node_modules/
packages/yakkl-contracts/code/anvil-test-data.txt
packages/yakkl-contracts/code/deployed_*_contracts.json
packages/yakkl-contracts/code/deployed_contracts.json
packages/yakkl-contracts/code/anvil-config.json
packages/yakkl-contracts/code/helper/
packages/yakkl-contracts/code/*.old
**/4337/
**/forge-tests.txt

# Router service
packages/yakkl-uniswap-alpha-router-service/dist/
packages/yakkl-uniswap-alpha-router-service/coverage/

# Wallet v1 - old version
packages/yakkl-wallet-v1/

# General patterns
packages/yakkl-wallet/*.tmp
packages/yakkl-wallet/*.wip
packages/yakkl-wallet/agents
packages/yakkl-wallet/src/lib/plugins/swaps/uniswap/UniswapHelper.ts
packages/yakkl-wallet/src/lib/0tmp/
packages/yakkl-wallet/src/lib/new_format/ 

# Specific files and directories
packages/yakkl-wallet/package
packages/yakkl-wallet/deadcode
packages/yakkl-wallet/research
packages/yakkl-wallet/*.http
packages/yakkl-wallet/test-data-keyring.json
packages/yakkl-wallet/wip-colors
packages/yakkl-wallet/background.js.LICENSE.txt
packages/yakkl-wallet/background-no-edit.ts
packages/yakkl-wallet/*.pem
packages/yakkl-wallet/*.crx
packages/yakkl-wallet/*.zip
packages/yakkl-wallet/providers.json
packages/yakkl-wallet/test*.json

# Static files
packages/yakkl-wallet/static/manifest.json
packages/yakkl-wallet/static/ext/

# Specific file patterns in subdirectories
packages/yakkl-wallet/src/lib/**/*.tmp

# Optional: Specific patterns to match nested directories
**/*.old
**/*.tmp
**/*.wip
**/anvil-state

# Sensitive env files
**/*.env
**/*.env.*
!**/.env.example

# Restricted files

# Lock files
# pnpm-lock.yaml
# package-lock.json
