<div class="faqs">
    <div class="padded-content">
        <header>
            <h1>Frequently Asked Questions</h1>
        </header>
        <div class="faq-box">
            <div class="faq">
                <div class="question">
                    Do you have special plans for open source projects, non-profits, groups of friends, and other non-commercial entities?
                </div>
                <p class="answer">
                    Yes! Yakkl Cloud Standard is free for open source projects and affiliated institutions. We also offer steep discounts to non-profits, educational institutions, groups of friends, and in scenarios where most of the users are not paid employees (e.g. company support forums). Just contact sales@yakkl.com and we&rsquo;d be happy to discuss your situation!
                </p>
                <p class="answer">
                    You may also be interested in <a href="/for/open-source">Yakkl for open source projects</a> or <a href="/for/working-groups-and-communities">Yakkl for working groups and other part-time communities</a>.
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    Does Yakkl scale to a large number of users?
                </div>
                <p class="answer">
                    Yes! Yakkl runs on Epiphany, "Industrialized Kubernetes". The <a href="https://github.com/epiphany-platform/epiphany">Epiphany</a> project is an Enterprise hardened automation of Kubernetes and includes additional goodies to make scalable development easy. This means Yakkl can scale up or down on demand on any cloud like environment or bare-metal.
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    Can I pay by credit card and/or invoice?
                </div>
                <p class="answer">
                    You can always use a credit card to pay, and we can bill by invoice for amounts over $1000.
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    Can I start on Yakkl Cloud and later move to On-Premise?
                </div>
                <p class="answer">
                    Yes! Our high quality export and import tools
                    (<a href="/help/export-your-organization">cloud</a>,
                    <a href="https://yakkl.readthedocs.io/en/latest/production/export-and-import.html">on-premise</a>) ensure you can always move
                    from our hosting to yours (and back). If you&rsquo;d like to do a migration, email support@yakkl.com and we'll get you started!
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    How are guest users billed?
                </div>
                <p class="answer">
                    Guests cannot see or join streams they are not invited to. Guests subscribed to more than 1 stream are billed like regular users. Guests subscribed to a single stream are generally free, unless you have more than 5 times as many single-stream guests as paying users. More details are available <a href="/help/roles-and-permissions">here</a>.
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    Who can I contact if I have further questions?
                </div>
                <p class="answer">
                    Stop by the <a href="https://yakkl.readthedocs.io/en/latest/contributing/chat-yakkl-org.html">Yakkl community server</a> to see Yakkl in action and chat with the developers, tweet <a href="https://twitter.com/yakklofficial">@yakkl</a>, or shoot us an email at sales@yakkl.com!
                </p>
            </div>
        </div>
    </div>
</div>
