<div class="header portico-header">
    <div class="header-main" id="top_navbar">
        <div class="float-left">
            <div>
                {% if custom_logo_url %}
                <a class="brand logo" href="{{ root_domain_uri }}/"><img draggable="false" src="{{ custom_logo_url }}" class="portico-logo" alt="{{ _('Yakkl') }}" content="Yakkl" /></a>
                {% else %}
                <a class="brand logo" href="{{ root_domain_uri }}{% if page_is_help_center %}/help/{% endif %}">
                    <svg class="brand-logo" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 40 40" version="1.1">
                        <g transform="translate(-297.14285,-466.64792)">
                            <circle cx="317.14285" cy="486.64792" r="19.030317" style="fill:#fff;stroke-width:1.93936479;stroke:transparent"></circle>
                            <path d="M108.42,213.72V145.48L55.89,64a171,171,0,0,1-9.76-17.17,26.16,26.16,0,0,1-2.86-10.71,17.13,17.13,0,0,1,5.79-12.92,20.2,20.2,0,0,1,14.31-5.43q9,0,13.57,5.07T90.81,43.05L131,108.35l40.65-65.3q3.66-6,6.16-10.12a62.25,62.25,0,0,1,5.5-7.7A22,22,0,0,1,190,19.72a19.22,19.22,0,0,1,9-1.91,18.89,18.89,0,0,1,13.72,5.36,16.81,16.81,0,0,1,5.5,12.4A26.06,26.06,0,0,1,215.4,47a149.4,149.4,0,0,1-9.54,15.84L152,145.48v68.24q0,13.35-6.16,19.95a20.51,20.51,0,0,1-15.7,6.61q-9.69,0-15.7-6.53T108.42,213.72Z" style="fill:#52c2af;stroke:#52c2af"/>
                        </g>
                    </svg>
                    <span>Yakkl</span>
                    {% if page_is_help_center %}
                    <div class="light"> | User Documentation</div>
                    {% endif %}
                    {% if page_is_api_center %}
                    <div class="light"> | API Documentation</div>
                    {% endif %}
                </a>
                {% endif %}
            </div>
        </div>

        <div class="float-right top-links">
            {% if user_is_authenticated %}
                {% include 'zerver/portico-header-dropdown.html' %}
            {% else %}
                {% if login_link_disabled %}
                {% elif not only_sso %}
                <a href="{{login_url}}">{{ _('Log in') }}</a>
                {% endif %}
            {% endif %}

            {% if register_link_disabled %}
            {% elif only_sso %}
                <a href="{{ url('login-sso') }}">{{ _('Log in') }}</a>
            {% else %}
                {% if user_is_authenticated %}
                {% else %}
                <a href="{{ url('register') }}">{{ _('Sign up') }}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
